.App {
  text-align: center;
  background-color: cyan;
}

.backing {
  background-color: lightgoldenrodyellow;
}

.over-grid {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 1fr 1fr 1fr;
  min-height: 0;
  min-width: 0;
}

.playerNameText {
  display: inline-flex;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* word-wrap: break-word; */
  /* display: block; */
  line-height: 1em;
  max-height: 4em;
  font-size: 4vw;
  position: center;
  text-align: center;

  /*max-width: 50%;
  max-height: 50%;
  text-align: center;
  overflow: visible;
  min-width: 0;
  position: absolute; */
  /* resize: none; */
}

.p1Details {
  background-color: teal;
  color: black;
  display: grid;
  grid-column: 1;
  grid-row: 1 / 4;
  min-height: 0;
  min-width: 0;
  /* height: 50%;
  width: 100%; */
  /* max-width: 50%;
  max-height: 50%;
  resize: none;
  width: min-content; */
}

.p2Details {
  background-color: yellow;
  color: black;
  display: grid;
  grid-column: 3;
  grid-row: 1 / 4;
  min-height: 0;
  min-width: 0;
}

.wrapper {
  display: grid;
  grid-column: 2;
  height: 280%;
  width: 100%;
  padding-bottom: 30%;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 5px;
}

.squares {
  color: black;
  background-color: #444;
  display: grid;
}

.yellowBackground {
  background-color: yellow;
}

.squareSymbolWrapper {
  font-size: 13vw;
  /* max-height: 0.5em; */
  margin-top: -13%;
  margin-bottom: -140%;
}
