.App {
  text-align: center;
  background-color: cyan;
}

.backing {
  background-color: lightgoldenrodyellow;
}

.over-grid {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 1fr 1fr 1fr;
}

.playerNameText {
  font-size: 5vw;
  max-width: 50%;
  max-height: 50%;
  /* resize: none; */
}

.p1Details {
  background-color: teal;
  color: black;
  display: grid;
  grid-column: 1;
  grid-row: 1 / 3;
  height: 50%;
  width: 100%;
  /* max-width: 50%;
  max-height: 50%;
  resize: none;
  width: min-content; */
}

.p2Details {
  background-color: yellow;
  color: black;
  display: grid;
  grid-column: 3;
  grid-row: 1 / 3;
}

.wrapper {
  display: grid;
  grid-column: 2;
  height: 280%;
  width: 100%;
  padding-bottom: 30%;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 5px;
}

.squares {
  color: black;
  background-color: #444;
  display: grid;
}
